/* App.css */

body {
  background-color: #1e1e1e; /* Dark background color */
  color: #ffffff; /* Light text color */
  font-family: 'Arial', sans-serif; /* Change the font family as needed */
}

.navbar {
  background-color: #2d2d2d; /* Dark grey navbar background color */
  padding: 1rem;
}

.sorting-options, .filtering-options {
  margin-bottom: 1rem;
}

button {
  background-color: #4caf50; /* Dark green button background color */
  color: #ffffff; /* Light text color for buttons */
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  border: none;
  cursor: pointer;
}

button.active {
  background-color: #45a049; /* Darker green for active state */
}

.poster-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.poster {
  background-color: #333; /* Dark grey poster background color */
  padding: 1rem;
  border-radius: 8px;
}

.poster h2 {
  color: #ffffff; /* Light text color for poster title */
}

.poster img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

.icon-h {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}


